.ballerinahome {
  left: 0;
  background-color: #FFF8E7 ;
}

.homeinfo {
  right: 0;
  background-color: #FFF8E7;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*This is the class created for the div that contains the botton on the screen to place the bottons in the middle*/
.containHomeButtons{
    text-align: center;
}

/* For the 2 bottons on the right side. */
.fromHomePage {
    background-color: Transparent;
    border: 2px solid #ad1414;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

/* When you hover over the 2 bottons to become red and have a shadow. */
.fromHomePage:hover {
    background-color: 	#ad1414;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fromHomePage a {
    color: black;
}

.fromHomePage a:visited {
    color: black;
}

@media (max-width:700px) and (min-width:1px) {
    .fromHomePage {
        font-size: 16px;
    }
}