.upPart{
  box-sizing: border-box;
}

.containInfo {
    min-height: 300%;
    overflow-x: hidden;
    padding-top: 20px;
}
.containList {
    float: left;
    width: 75%
}
.containImage {
    float: right;
    padding-right: 10%;
}

.terms {
    display: table;
    border-top: 1px dashed #ad1414;
    padding-bottom: 10px;
    padding-top: 10px;
}
.terms h2{
    color: #ad1414;
}
